$dark-grey: rgba(80, 81, 79, 1);
$mustard: rgba(255, 224, 102, 1);
$sea-blu: rgba(36, 123, 160, 1);
$background: rgba(240, 240, 240, 1);
$main-green: rgb(69, 184, 98);
$border-color: #d3d3d3;
$carousel-text: white;
