.sticky{
  text-align: center;
  color:#FFF;
  font-size: 32px;
  width:100%;
  z-index: 99999;
  position: fixed;
  display: block;
  padding: 1px;
  height: 40px;
}

#stickyBottom{
  background-color:$main-green;

}

#stickyBottom{
 bottom:0;
}
