nav {
  background-color: $main-green;
  position: fixed;
  height: 120px;
  color: white;
  .brand {
    color: white;
  }
  .navbar-brand {
    color: white;
  }
  .nav.navbar-nav li a {
     color: #fff;
   }

  .nav.navbar-nav a:hover {
   color: grey;
  }
}
