@import 'vendor/carousel';
@import 'colorVariable';
@import 'overrideBootstrap';
@import 'dragDrop';
@import 'conversationsIndex';
@import 'usersShow';
@import 'chat';
@import 'navbar';
@import 'footer';
@import 'homePage';



*{
  box-sizing: border-box;
}
.box {
  border: 1px solid $border-color;
}
img {
  width: 100%
}
.hidden {
  display: none;
}
body {
  background-color: #f1f1f1;
  font-family: 'Exo 2', sans-serif;

}


.bottom-border {
  border-bottom: 1px solid $border-color;
}

.has-warning {
  color: red;
  opacity: 0.9;
}
.question {
  height: 270px;
  overflow: scroll;
  width: 100%;

}
.userCommentImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
}
.hid-location {
  display: none;
}
.card, a {
  text-decoration: none;
  color: black;
  a:hover, a:focus {
    color: lighten(black, 40%);
    text-decoration: none;
    outline: none;
  }
}
.white {
  background-color: white;
}
.font-lobster {
  font-family: 'Lobster', cursive;
}

.objectImage {
  object-fit: cover;
}

.large{
  height: 300px;
}
.medium {
  height: 250px;
}
.shaddow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
}
.newProduct {
  padding: 30px;
}


Link {
  color: black;
}

.google-map {
  height: 250px;
}

button {
  margin: 2px;
}

.brand {
  font-family: 'Lobster', cursive;

}

.boxClass {
  height: 100px;
  width: 300px;

}



.container {
  margin-top: 60px;

}

.btn-login {
  width: 50%;
}


.overlay-wrapper {
  position: relative;
}
.white-text {
  color: $carousel-text;
  line-height: 1.4;
  font-size: 3rem;
}

.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: $main-green;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.sold-product {
-ms-transform: rotate(-15deg);
 -webkit-transform: rotate(-15deg);
 transform: rotate(-15deg);
 }
.container-fluid {
  // margin-top: 20px;
  padding: 60px;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: $main-green;
}

hr {
  background-color: $main-green;
  width: 100%;
}

@media only screen  and (max-width: 1000px) {
  .carousel {
    display: none;
  }
  .google-map {
    margin: 10px;
  }
  .hidden {
    display: flex;
  }
  .questions-hidden {
    display: none;
  }
}
@media only screen  and (max-width: 700px) {
.brand {
  font-size: 15px;
}
.userImage {
  height: 300px;
  width: 300px;
}
.navbar-brand {
  font-size: 1rem;
}
.userItems {
  width: 300px
}
}
