@import 'vendor/carousel';
@import 'colorVariable';
@import 'overrideBootstrap';
@import 'dragDrop';
@import 'conversationsIndex';
@import 'usersShow';
@import 'chat';
@import 'navbar';



*{
  box-sizing: border-box;
}
.box {
  border: 1px solid #d3d3d3;
}
img {
  width: 100%
}
.hidden {
  display: none;
}
body {
  background-color: #f1f1f1;
  font-family: 'Exo 2', sans-serif;

}

.carousel {
  height: 400px;
}

.bottom-border {
  border-bottom: 1px solid #d3d3d3;
}

.has-warning {
  color: red;
}
.question {
  height: 270px;
  overflow: scroll;
  width: 100%;

}
.userCommentImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
}
.hid-location {
  display: none;
}
.card, a {
  text-decoration: none;
  color: black;
  a:hover, a:focus {
    color: lighten(black, 40%);
    text-decoration: none;
    outline: none;
  }
}
.white {
  background-color: white;
}
.font-lobster {
  font-family: 'Lobster', cursive;
}

.objectImage {
  object-fit: cover;
}

.large{
  height: 300px;
}
.medium {
  height: 250px;
}
.shaddow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.newProduct {
  padding: 30px;
}

Link {
  color: black;
}

.google-map {
  height: 200px;
}

button {
  margin: 2px;
}

.brand {
  font-family: 'Lobster', cursive;

}

.boxClass {
  height: 100px;
  width: 300px;

}


.container {
  margin-top: 60px;

}

.btn-login {
  width: 50%;
}


.overlay-wrapper {
  position: relative;
}

.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media only screen  and (max-width: 900px) {
  .carousel {
    display: none;
  }
  .google-map {
    margin: 10px;
  }
  .hidden {
    display: flex;
  }
}
