@import 'colorVariable';
@import 'overrideBootstrap';
@import 'dragDrop';
@import 'conversationsIndex';
@import 'usersShow';
@import 'chat';



*{
  box-sizing: border-box;
}
.box {
  border: 1px solid #d3d3d3;
}
img {
  width: 100%
}
#hidden {
  display: none;
}
body {
  background-color: #f1f1f1;
}

.bottom-border {
  border-bottom: 1px solid #d3d3d3;
}

.has-warning {
  color: red;
}

.hid-location {
  display: none;
}
.card, a {
  text-decoration: none;
  color: black;
  a:hover, a:focus {
    color: lighten(green, 20%);
    text-decoration: none;
    outline: none;
  }
}
.white {
  background-color: white;
}
.font-lobster {
  font-family: 'Lobster', cursive;
}

.objectImage {
  object-fit: cover;
}

.large{
  height: 300px;
}
.medium {
  height: 200px;
}
.shaddow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.newProduct {
  padding: 30px;
}

Link {
  color: black;
}

.google-map {
  height: 200px;
}

button {
  margin: 5px;
}

nav {
  background-color: rgb(69, 184, 98);
  height: 120px;
  position: fixed;
  color: white;
  .brand {
    color: white;
  }
  .navbar-brand {
    color: white;
  }
}
.nav.navbar-nav li a {
   color: #fff;
 }

.nav.navbar-nav a:hover {
 color: grey;
}


.brand {
  font-family: 'Lobster', cursive;

}

.boxClass {
  height: 100px;
  width: 300px;

}


.container {
  margin-top: 60px;

}

.overlay-wrapper {
  position: relative;
}

.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
