<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eShopper</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>eShopper</h1>
    </header>
    <p>
      Hello <%= receiver.username %> You have a message on eShopper.com
    </p>
  </body>
</html>
